<html>

<head>
	<title>VML/Place/History</title>
	<style>
		table{
			border-collapse:collapse;
		}

		td.inner {
			border: 0.05px solid black;
			border-collapse: collapse;
			border-spacing: 0px;
			padding: 5px;
		}
	</style>
	<script>
		//max numbers of grids
		var maxX = 15;
		var maxY = 15;

		//width of each individual square grid
		var gridWidth = 32;
        var currentEntry = 0;
        var theHistory = new Array();
        var delay = 400;

		//Creates a 32x32 grid of pixels, at grid coordinates
		function createGrid(gridX, gridY){
			var tbl = document.createElement("table");
			gridsDatas[gridX][gridY] = new Array();
			for (var x = 0; x < gridWidth; x++){
				var thisRow = tbl.insertRow(tbl.rows.length);
				gridsDatas[gridX][gridY][x] = new Array();
				for(var y = 0; y < gridWidth; y++){
					var thisCol = thisRow.insertCell(y);
					thisCol.classList.add("inner");
					var txt = document.createTextNode('');
					thisCol.appendChild(txt);
					thisCol.setAttribute("gridX", gridX);
					thisCol.setAttribute("gridY", gridY);
					thisCol.setAttribute("pX", y);
					thisCol.setAttribute("pY", x);
					gridsDatas[gridX][gridY][x][y] = thisCol;
                    gridsDatas[gridX][gridY][x][y].style.backgroundColor = "black";
				}
			}
			return tbl;
		}

        function clearGrid(){
            for(gridX = 0; gridX < 15; gridX++){
                for(gridY = 0; gridY < 15; gridY++){
                    for (var x = 0; x < 32; x++){
                        for(var y = 0; y < 32; y++){
                            gridsDatas[gridX][gridY][x][y].style.backgroundColor = "black";
                        }
                    }
                }
            }
        }
        
        function updateGrid(){
            if(currentEntry < theHistory.length){
                var ge = theHistory[currentEntry];
                var co = ge[4];
                gridsDatas[ge[0]][ge[1]][ge[2]][ge[3]].style.backgroundColor = "#" + co[0].toString(16) + co[1].toString(16) + co[2].toString(16);
                currentEntry++;
                setTimeout(updateGrid, delay);
            }
            else{
                currentEntry = 0;
                clearGrid();
                setTimeout(updateGrid, delay);
            }
        }

		//Get the grid data from the backend
		function getHistoryData(){
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
			    if (this.readyState == 4 && this.status == 200) {
                    currentEntry = 0;
                    console.log(xhttp.responseText);
                    theHistory = JSON.parse(xhttp.responseText);
                    updateGrid();
			    }
			};
			xhttp.open("GET", "/get_history", true);
			xhttp.send();
		}
        
        
		//updateGrid();
		//setInterval(getGridData, 10000);
	</script>
</head>

<body>
	<h1>VML/Place/History</h1>
	<a href="/"><</a>
	<br/>
	<table class="outer" id="theTable"></table>
	<script>
	var table = document.getElementById("theTable");
	var grids = new Array();

	var gridsDatas = new Array(maxX);
	for(var r = 0; r < maxX; r++){
		gridsDatas[r] = new Array(maxY);
	}

	//create grids in html
	for(var r = 0; r < maxX; r++){
		grids[r] = new Array();
		var row = table.insertRow(table.rows.length);
		for(var c = 0; c < maxY; c++){
			grids[r][c] = row.insertCell(c);
			var gr = createGrid(c, r);
			grids[r][c].appendChild(gr);
		}
	}
        
    getHistoryData();
	</script>
</body>

</html>