<html>

<head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <!-- End bootstrap -->
    <script src="https://kit.fontawesome.com/b6642fc2aa.js" crossorigin="anonymous"></script>
	<title>canvas64</title>
	<style>
		table{
			border-collapse:collapse;
		}

		td.inner {
			border: 0.05px solid black;
			border-collapse: collapse;
			border-spacing: 0px;
			padding: 5px;
		}

        body{
            background: grey;
        }

        .selected{
            background: blue;
            color: white;
        }
	</style>
	<script>
		//pixel dimensions
		var maxX = 64;
		var maxY = 64;
        
        //toggle for animation
        var animating = false;
        var animationDelay = 100;
        
        //toggle for "painting"
        var toggled = false;

        var fill = false;
        
        //cached data to send on send button press
        var gridToSend = new Array();
        
        function compareColor(rgb, hex){
            //console.log("" + hex + " : " + rgb);
            var rgbArr = (rgb.substring(4, rgb.length-1)).split(",");
            var rgbInt = parseInt(rgbArr[0].trim()) * 16 * 16 * 16 * 16;
            rgbInt += parseInt(rgbArr[1].trim()) * 16 * 16;
            rgbInt += parseInt(rgbArr[2].trim());
                
            var hexInt = parseInt((hex).substring(1), 16);
            //console.log("Hex: " + hexInt);
            //console.log("rgb: " + rgbInt);
            return rgbInt != hexInt;
        }

        function fillPixel(pixel){
            if(compareColor(pixel.style.backgroundColor, colorWell.value)){
                pixel.style.backgroundColor = colorWell.value;
                
                var toSend = new Array();
                toSend[0] = new Array();
                toSend[0][0] = parseInt(pixel.getAttribute("pX"));
                toSend[0][1] = parseInt(pixel.getAttribute("pY"));
                toSend[1] = new Array();
                toSend[1][0] = parseInt((colorWell.value).substring(1, 3), 16);
                toSend[1][1] = parseInt((colorWell.value).substring(3, 5), 16);
                toSend[1][2] = parseInt((colorWell.value).substring(5), 16);
                
                gridToSend.push(toSend);
            }
        }
        
        function fillPanel(){
            for(var i = 0; i < 64; i++){
                for(var j = 0; j < 64; j++){
                    fillPixel(grid[i][j]);
                }
            }
        }
        
		//Function runs if user clicks on pixel; sets pixel in backend
		function pixelOnClick(pixel){
            toggled = !toggled;
            fillPixel(pixel);
            if(fill){
                fillPanel();
            }
		}
        
        function pixelOnHover(pixel){
            if(toggled){
                fillPixel(pixel);
            }
		}

		//adds an event listener to the specified pixel, onclick
		function addPixelListener(pix){
			pix.addEventListener("click", function(){pixelOnClick(pix);});
            pix.addEventListener("mouseover", function(){pixelOnHover(pix);});
		}

		//Creates a 64x64 grid of pixels
		function createGrid(){
			grid = new Array();
			for (var x = 0; x < 64; x++){
				var thisRow = table.insertRow(table.rows.length);
				grid[x] = new Array();
				for(var y = 0; y < 64; y++){
					var thisCol = thisRow.insertCell(y);
					thisCol.classList.add("inner");
					var txt = document.createTextNode('');
					thisCol.appendChild(txt);
					thisCol.setAttribute("pX", y);
					thisCol.setAttribute("pY", x);
					grid[x][y] = thisCol;
					addPixelListener(thisCol);
				}
			}
		}

		function updateGrid(grid_data){
			for(var r = 0; r < 64; r++){
                for(var c = 0; c < 64; c++){
                    var thisColor = grid_data[r][c];
                    if(thisColor != undefined){
                        var red = thisColor[0].toString(16);
                        if(red.length == 1){
                            red = "0" + red;
                        }

                        var green = thisColor[1].toString(16);
                        if(green.length == 1){
                            green = "0" + green;
                        }

                        var blue = thisColor[2].toString(16);
                        if(blue.length == 1){
                            blue = "0" + blue;
                        }

                        grid[c][r].style.backgroundColor = "#" + red + green + blue;
                    }
                }
            }
		}

		//Get the grid data from the backend
		function getGridData(){
            animating = false;
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
			    if (this.readyState == 4 && this.status == 200) {
                    updateGrid(JSON.parse(xhttp.responseText));
			    }
			};
			xhttp.open("GET", "/get_grid", true);
			xhttp.send();
		}

        function sendGridData(){
            if(gridToSend.length == 0){return;}
            var url = "/set_pixels";
            var data = JSON.stringify(gridToSend);
            gridToSend = new Array();
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    getGridData();
                }
            };
            xhttp.open("POST", url, true);
            xhttp.send(data);
        }
        
        function togglePencil(a){
            if(a){
                document.getElementById("pencilButton").classList.add("selected");
                document.getElementById("fillButton").classList.remove("selected");
                fill = false;
            }else{
                document.getElementById("fillButton").classList.add("selected");
                document.getElementById("pencilButton").classList.remove("selected");
                fill = true;
            }
        }

		//updateGrid();
		//setInterval(getGridData, 10000);
	</script>
</head>

<body>
    <div class="container">
        <div class="card">
            <h1 class ="card-header">canvas64</h1>
            <div class="card-body">
                <div class="row text-center" style="font-size: 50pt;">
                    <div class="col">
                        <input type="color" value="#000000" id="colorWell" style="width:100%; height:100%;">
                    </div>
                    <div id="pencilButton" class="col selected" onclick="togglePencil(true)">
                        <i class="fas fa-pencil-alt"></i>
                    </div>
                    <div id="fillButton" class="col" onclick="togglePencil(false)">
                        <i class="fas fa-fill"></i>
                    </div>
                    <div class="col" onclick="getGridData()">
                        <i class="fas fa-sync-alt"></i>
                    </div>
                    <div class="col" onclick="sendGridData()">
                        <i class="fas fa-paper-plane"></i>
                    </div>
                </div>
                <script>
                    colorWell = document.querySelector("#colorWell");
                    colorWell.addEventListener("input", updateFirst, false);
                    colorWell.addEventListener("change", updateAll, false);
                    colorWell.select();

                    function updateFirst(event) {
                      var p = document.querySelector("p");

                      if (p) {
                        p.style.color = event.target.value;
                      }
                    }

                    function updateAll(event) {
                      document.querySelectorAll("p").forEach(function(p) {
                        p.style.color = event.target.value;
                      });
                    }
                </script>
            </div>
        </div>
    </div>
    <div class="row"><br/></div>
    <div class="row">
        <div class="col"></div>
        <table class="outer col" id="theTable"></table>
        <div class="col"></div>
    </div>
    <div class="row">
        <br/><br/><br/><br/>
    </div>
    <div class="row">
        <div class="container">
            <div class="card">
                <h1 class ="card-header">Recent artists</h1>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <br/><br/><br/><br/>
    </div>
    <div class="row">
        <div class="container">
            <div class="card">
                <h1 class ="card-header">History, animated</h1>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
	<script>
	var table = document.getElementById("theTable");
	var grid = new Array();
    createGrid();
	getGridData();
	</script>

</body>

</html>